body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-image: url('bg ump.jpg'); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}