body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-image: url('bg ump.jpg'); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.head-container {
    max-width: 700px;
    margin: auto;
    background: rgb(0, 4, 255); 
    padding: 18px;
    border-radius: 30px;
    box-shadow: 0 0 10px rgb(255, 255, 255);
}


form {
    max-width: 700px;
    margin: auto;
    background: rgb(255, 255, 255); 
    padding: 40px;
    border-radius: 30px;
    box-shadow: 0 0 10px rgb(38, 0, 255);
}

.form1 {
    max-width: 700px;
    margin: auto;
    background: rgb(255, 255, 255); 
    padding: 40px;
    border-radius: 30px;
    box-shadow: 0 0 10px rgb(0, 0, 0);
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 10px;
}

.form-group input, .form-group select {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
}

button {
    padding: 10px 15px;
    background-color: #4CAF50;
    text-align: center;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25vh;
}

.teks1 {
    text-align: center;
    margin-top: 0px;
    font-size: 26px; 
  }

  .teks2 {
    text-align: center;
    margin-top: -5px; 
    font-size: 20px; 
  }

  .teks3 {
    text-align: center;
    margin-top: -25px;
    font-size: 20px; 
  }
  .teks4 {
    text-align: center;
    margin-top: -25px;
    font-size: 20px;  
  }

  